.testimonial:hover {
  transform: scale(1.09);
  transition: transform 0.3s ease-in-out;
  z-index: 5;
}

.testimonial:hover .testimonial-content {
  background-color: #6ae1a2;
  box-shadow: 6px 4px 10px rgba(10, 108, 75, 0.25);
}
