body {
  background-image: url('https://i.pinimg.com/originals/8e/c9/0e/8ec90e2c5a76ba118c93293a443caa2a.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
